.user-content {
    gap: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-column {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-column {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.user-info-box {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.follow-details {
    display: flex;
    justify-content: space-between;
}

.trees-box {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.tree-container {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);    
    margin-bottom: 10px;
}

.images-box {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.images-container {
    display: flex;
    display: row;
}

.image-container {
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.image-container:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}