.user-boxes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

.user-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
}

.community-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}