#images-container {
    display: block;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
}

#images-navbar {
    margin: 20px;
}

#view-images-container {
    display: flex;
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

#add-images-container {
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
}

#edit-image-container {
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
}

#edit-image-container img {
    max-height: 300px;
    max-width: 300px;
    margin: 20px;
    border-radius: 8px;
    object-fit: cover;
}

#edit-image-container form {
    margin: 20px;
}

.image-container {
    max-width: 170px;
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container img {
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.image-container-options {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-container img:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.image-container span {
    margin: 10px;
}

.view-image-modal img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.like-section {
    display: flex;
    justify-content: left;
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.like-section a {
    margin-right: 10px;
}

.comments-section {
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.comment {
    border: 1px solid #dee2e6;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment a {
    margin-left: auto;
    display: flex;
    align-items: center;
}