.tree-node-container {
    width: 120px;
    height: 200px;
    display: block;
    position: absolute;  
}

.tree-node-container .link-list {
    visibility: hidden;
    height: 0px;
    transition-timing-function: ease;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    transition: height 0.2s;
}

.tree-node-container:hover .link-list {
    visibility: visible;
    top: 160px;
    z-index: 10;
    width: 100%;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 12px;
    height: 40px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tree-node {
    width: 120px; 
    height: 160px; 
    position: absolute; 
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid #ddd;
    border-radius: 12px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px -2px 8px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.tree-node span {
    font-size: 14px;
    color: #333;
}

.tree-node span:last-child {
    font-size: 12px;
    color: #777;
}

.tree-node:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.tree-node-new {
    border-style: dashed;
    border-color: #57b94e;
    background: #f9f9f9;
    color: #666;
}

.tree-node-new:hover {
    transform: scale(1.05);
}

.tree-node-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: inherit;
}

.tree-node-button span {
    display: block;
    margin-top: 4px;
}

.avatar {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #ccc;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#tree-container #tree-svg-container path {
    stroke: #a1a1a1;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
}

#tree-container #tree-svg-container {
    z-index: 0;
}

#tree-container {
    position: relative;
    min-height: 110vh;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0px 0 8px rgba(0,0,0,0.2);
    z-index: 5;
}

.tree-node .link-list {
    display: none;
}

.tree-node:hover .link-list {
    display: block;
    top: 100%;
}

/* The sliding panel */
#settings-panel {
    position: fixed;
    top: 50%;
    right: -350px; /* Completely hidden */
    width: 300px;
    background-color: #f7f9fc;
    color: var(--bs-body-color);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    box-shadow: -3px 0 8px rgba(0,0,0,0.2);
    margin: 0px;
    border-radius: 10px;
    transform: translateY(-50%);
    z-index: 500;
    border: 2px solid #ccc;
}

/* Button outside the panel */
#toggle-panel-button {
    position: fixed;
    top: 50%;
    right: 0px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    transform: translateY(-50%);
    z-index: 1000; /* Ensures it stays above */
}

/* When the panel is open */
#settings-panel.panel-open {
    right: 0;
}

#settings-panel button {
    margin: 20px;
}