{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        <span class="logo">Project Heirloom</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "home" %}class="selected"{% endif %}>
                    <a href="{% url "home" %}">Home</a>
                </li>
                <li {% if section == "tree" %}class="selected"{% endif %}>
                    <a href="{% url "family_tree" %}">Family Tree</a>
                </li>
                <li {% if section == "search" %}class="selected"{% endif %}>
                    <a href="{% url "search" %}">Search</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url "images" %}">Images</a>
                </li>
                <li {% if section == "profile" %}class="selected"{% endif %}>
                    <a href="{% url "profile" %}">Profile</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username}},
                <form action="{% url "logout" %}" method="post">
                    <button type="submit">Log out</button>
                    {% csrf_token %}
                </form>
            {% else %}
                <a href="{% url "login" %}">Log in</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>