{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h5 class="modal-title" id="modal-label">Select a Life Event</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="error-messages"></div>
    <form method="POST" hx-post="{% url 'genealogy:event_list' person.id %}" hx-trigger="change" hx-target="#modal-content" hx-swap="innerHTML" hx-on::after-request="handleNewEventRequest(event)">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<script src="{% static 'js/add_event_modal.js' %}"></script>