{% extends "base.html" %}

{% block title %}Family Tree{% endblock title %}

{% block content %}
    <h1>Family Tree</h1>
    {% if trees %}
        <p>You currently have {{ trees|length }} {% if trees|length == 1 %}tree{% else %}trees{% endif %} uploaded.</p>
    {% else %}
        <p>You currently have no uploaded trees.</p>
    {% endif %}
    <p>Upload a GEDCOM using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_form.as_p }}
        <button type="submit">Upload</button>
    </form>
{% endblock content %}