{% load crispy_forms_tags %}
{% load bootstrap_icons %}

<form class="modal-form" hx-post="{% url 'image_add_comment' person.id image.id %}" hx-target="#comments-section" hx-swap="innerHTML">
    {% crispy comments_form %}
    <div class="row form-outline mb-1">
        <input type="submit" name="submit" value="Add Comment" class="btn btn-primary" id="submit-id-submit">
    </div>
</form>
<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <div class="comment-body">
            <p><strong>{{ comment.user }}</strong> commented {{ comment.commented_at|timesince }} ago:</p>
            <i>{{ comment.comment }}</i>
        </div>
        {% if comment.user == request.user %}
        <a href="#" hx-post="{% url 'image_delete_comment' person.id image.id comment.id %}" hx-target="#comments-section" 
            hx-swap="innerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% bs_icon 'trash3' size='1.5em' color='red' %}
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>