{% extends "base.html" %}

{% block title %}Person{% endblock title %}

{% block content %}
    <div class="float-end">
        <button class="btn btn-primary" hx-get="{% url 'edit_person' person.id %}" class="btn btn-primary" 
        hx-target="#edit-person-modal-content" type="button" hx-trigger="click" 
        data-bs-toggle="modal" data-bs-target="#edit-person-modal" hx-swap="innerHTML">Edit Person</button>
        <button class="btn btn-danger" type="button" disabled>Delete Person</button>
        <button class="btn btn-success droptown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add New Person</button>
        <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Child</a></li>
            <li><a href="#" class="dropdown-item">Partner</a></li>
            {% if father %}
                <li><a href="#" class="dropdown-item disabled" aria-disabled="true">Father</a></li>
            {% else %}
                <li><a href="#" class="dropdown-item">Father</a></li>
            {% endif %}
            {% if mother %}
                <li><a href="#" class="dropdown-item disabled" aria-disabled="true">Mother</a></li>
            {% else %}
                <li><a href="#" class="dropdown-item">Mother</a></li>
            {% endif %}
        </ul>
    </div>
    <h1>{{ person }}</h1>
    <p>Name: {{ person }}</p>
    {% if person.birth_place %}
        <p>Birth Place: {{ person.birth_place }}</p>
    {% endif %}
    {% if person.birth_date %}
        <p>Birth Date: {{ person.birth_date }}</p>
    {% endif %}
    {% if person.death_place %}
        <p>Death Place: {{ person.death_place }}</p>
    {% endif %}
    {% if person.death_date %}
        <p>Death Date: {{ person.death_date }}</p>
    {% endif %}
    {% if person.death_cause %}
        <p>Death Cause: {{ person.death_cause }}</p>
    {% endif %}
    <h2>Parents</h2>
    <p>Father: {% if father %}<a href="{% url 'person' father.id %}">{{ father.get_name_years }}</a>{% else %}-{% endif %}</p>
    <p>Mother: {% if mother %}<a href="{% url 'person' mother.id %}">{{ mother.get_name_years }}</a>{% else %}-{% endif %}</p>
    <h2>Siblings</h2>
    {% if siblings %}
        <ul>
        {% for sibling in siblings %}
            <li><p><a href="{% url 'person' sibling.indi.id %}">{{ sibling.indi.get_name_years }}</a></p></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No siblings</p>
    {% endif %}
    <h2>Families</h2>
    {% if families %}
        {% for family in families %}
            <h3>Family {{forloop.counter }}</h3>
            <p>Partner: {% if family.partner %}<a href="{% url 'person' family.partner.id %}">{{ family.partner.get_name_years }}</a>{% else %}-{% endif %}</p>
            {% if family.children %}
                <p>Children:</p>
                <ul>
                {% for child in family.children %}
                    <li><p><a href="{% url 'person' child.indi.id %}">{{ child.indi.get_name_years }}</a></p></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% include 'genealogy/edit_person_modal_container.html' %}
    <div class="modal fade modal-blur" tabindex="-1" id="add-person-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="add-person-modal-content" hx-target="this">
            </div>
        </div>
    </div>
    <script>
    function handleEditPersonRequest(evt) {
        if(evt.detail.xhr.status == 204) {
            location.reload();
        }
    }
    </script>
{% endblock content %}

