{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block content %}
    <h1>Search</h1>
    {% if not trees %}
        <p>You currently have no uploaded trees.</p>
    {% else %}
        <form method="get">
            {% crispy search_form %}
        </form>
    {% endif %}
    <div hx-get="{% url 'get_time' %}" id="time_test" hx-target="this" hx-swap="innerHTML" hx-trigger="test"></div>
    {% if people %}
        {% include 'genealogy/search_results.html' %}
    {% elif people is not None %}
        <p>No results found.</p>
    {% endif %}
{% endblock content %}

