{% extends "base.html" %}

{% block title %}Search{% endblock title %}

{% block content %}
    <h1>Search</h1>
    {% if not trees %}
        <p>You currently have no uploaded trees.</p>
    {% else %}
        <form method="get">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}
    {% if people %}
        <p>Search results:</p>
        {% for person in people %}
            <p><a href="{% url 'person' person.id %}">{{ person.first_name }} {{ person.last_name }}</a></p>
        {% endfor %}
        <p>Found {{ people|length }} result{{ people|pluralize }}.</p>
    {% endif %}
{% endblock content %}