<div class="container mt-3" hx-trigger="tree-list-changed from:body" hx-get="{% url 'genealogy:get_tree_list' %}" hx-target="this">
    <p>You currently have {{ trees|length }} tree{{ trees|pluralize }} uploaded.</p>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Number of people</th>
                <th>Created</th>
                <th>Admin</th>
                <th>GEDCOM</th>
            </tr>
        </thead>
        <tbody>
            {% include 'genealogy/tree_list_rows.html' %}
        </tbody>
    </table>
</div>