{% load bootstrap_icons %}

{% for tree in trees %}
    <tr id="tree-{{ tree.id }}">
        <td><a href="{% url 'genealogy:view_tree' tree.id 0 %}">{{ tree.name }}</a></td>
        <td>{{ tree.description|default_if_none:"" }}</td>
        <td>{{ tree.number_of_persons }}</td>
        <td>{{ tree.upload_date }}</td>
        <td>
            <a href="#" hx-get="{% url 'genealogy:edit_tree' tree.id %}"
                    hx-target="#modal-content" hx-trigger="click" hx-swap="innerHTML"
                    data-bs-toggle="modal" data-bs-target="#modal">
                    {% bs_icon 'pencil-square' size="2em" color="#0d6efd" %}</a>
            <a href="#" hx-post="{% url 'genealogy:delete_tree' tree.id %}"
                    hx-target="#modal-content" hx-trigger="click" hx-swap="innerHTML"
                    data-bs-toggle="modal" data-bs-target="#modal" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% bs_icon 'trash' size="2em" color="#dc3545" %}</a>
        </td>
        <td>
            <a href="{% url 'genealogy:download_tree' tree.id %}"><button type="button" class="btn btn-primary">Download GEDCOM</button></a>
        </td>
    </tr>
{% endfor %} 
