{% load bootstrap_icons %}

{% for tree in trees %}
    <tr id="tree-{{ tree.id }}">
        <td><a href="{% url 'view_tree' tree.id %}">{{ tree.name }}</a></td>
        <td>{{ tree.description|default_if_none:"" }}</td>
        <td>{{ tree.number_of_individuals }}</td>
        <td>{{ tree.upload_date }}</td>
        <td>
            <a href="#" hx-get="{% url 'edit_tree' tree.id %}"
                    hx-target="#modal-content" hx-trigger="click" hx-swap="innerHTML"
                    data-bs-toggle="modal" data-bs-target="#modal">{% bs_icon 'pencil-square' size="2em" color="#0d6efd" %}</a>
            <a href="#" hx-get="{% url 'delete_tree' tree.id %}"
                    hx-target="#modal-content" hx-trigger="click" hx-swap="innerHTML"
                    data-bs-toggle="modal" data-bs-target="#modal">{% bs_icon 'trash' size="2em" color="#dc3545" %}</a>
        </td>
    </tr>
{% endfor %} 
