{% extends "base.html" %}

{% block title %}View Tree{% endblock title %}
{% block css_include %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tree_style.css' %}">
{% endblock css_include %}


{% block javascript_data %}
    {% if people %}
        <script>
            var familyData = {{ people|safe }};
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if tree.number_of_individuals == 0 %}
        <p>You don't have any individuals in your tree.</p>
        <p>Add one by clicking here:</p>
        <button type="button" class="btn btn-primary" hx-get="{% url 'add_person' tree.id %}" 
        hx-target="#modal-content" hx-trigger="click" hx-swap="innerHTML" data-bs-toggle="modal"
        data-bs-target="#modal">Add First Person</button>
    {% else %}
        <div id="tree-container">
            <svg width="1200" height="1000" style="position: absolute;" id="tree-svg-container">
            </svg>
        </div>
        <div id="settings-panel">
            <h3>Tree settings</h3>
            <label for="tree-color">Background color</label>
            <input type="color" id="color-selector" name="color" value="#f7f9fc"><br>
            <button id="reset-color-button" class="btn btn-danger">Reset</button>
        </div>
        <button id="toggle-panel-button">←</button>
    {% endif %}
    {% include 'genealogy/modal_container.html' %}
{% endblock content %}
{% block javascript_include %}
    {% load static %}
    <script src="{% static 'js/generate_tree.js' %}"></script>
{% endblock %}